[project]
	description = UEFI shim loader
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/andrewboie
[access "refs/for/refs/*"]
	read = group user/andrewboie
	push = group user/andrewboie
	label-Code-Review = -2..+2 group user/andrewboie
	label-Verified = -1..+1 group user/andrewboie
	rebase = group user/andrewboie
	removeReviewer = group user/andrewboie
	submit = group user/andrewboie
[access "refs/heads/*"]
	read = group user/andrewboie
	create = group user/andrewboie
	push = +force group user/andrewboie
	pushMerge = group user/andrewboie
[access "refs/tags/*"]
	push = +force group user/andrewboie
	pushTag = group user/andrewboie
	pushSignedTag = group user/andrewboie
